#### __Question 1:__ Looking at the files, I found that electrophysiological data is present in only those files which have the word behaviour in it. Does this mean only for these sessions recordings were done and can I safely disregard other files?

In [81]:
import h5py
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

data_file = r"/Volumes/Elements/succ_rep/tongue/000239"

files = [f for f in os.listdir(data_file) if os.path.isdir(os.path.join(data_file, f))]

## choosing only those files which have behaviour in the name
session_file = []
for f in files:
    subject =  os.path.join(data_file, f)
    sub_sess = os.listdir(subject)
    for file in sub_sess:
        if "_behavior" in file:
            session_file.append(os.path.join(subject, file))
#session_file

In [54]:
hf = h5py.File(session_file[0], 'r')
keys = hf.keys()

#### __Question 2:__ I obtained the trial dataframe and can understand what cues (aduitory), posIndex, posIndex_times_index, etc. mean. However I am not sure what lickOff_times_index and lickOn_times_index and their corresponding lickOff_times and lickOn_times mean?

In [3]:
trials_df = {}
for key in hf["intervals"]["trials"].keys():
    if hf["intervals"]["trials"][key][:].shape[0] == 265:
        trials_df[key] = hf["intervals"]["trials"][key][:]

df = pd.DataFrame(trials_df)
df

,cue,cue_times,id,lickOff_times_index,lickOn_times_index,opto,opto_times,posIndex,posIndex_times_index,start_time,stop_time,water,water_times
0,100.0,50.415600,0,20,20,NaN,NaN,b'[1 2 3 4 5 6]',6,50.415600,63.755600,100.0,52.247600
1,100.0,63.750900,1,39,39,NaN,NaN,b'[5 4 3 2 1 0]',12,63.750900,75.400900,100.0,65.538900
2,100.0,75.399167,2,60,60,NaN,NaN,b'[1 2 3 4 5 6]',18,75.399167,89.844167,100.0,77.269167
3,100.0,89.837500,3,76,76,NaN,NaN,b'[5 4 3 2 1 0]',24,89.837500,98.537500,100.0,91.592500
4,100.0,98.534700,4,92,92,NaN,NaN,b'[1 2 3 4 5 6]',30,98.534700,108.094700,100.0,100.425700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,100.0,2810.883167,260,3832,3832,NaN,NaN,b'[1 2 3 4 5 6]',1566,2810.883167,2818.188167,100.0,2812.448167
261,100.0,2818.184333,261,3845,3845,NaN,NaN,b'[5 4 3 2 1 0]',1572,2818.184333,2825.499333,100.0,2820.379333
262,100.0,2825.494500,262,3859,3859,NaN,NaN,b'[1 2 3 4 5 6]',1578,2825.494500,2864.694500,100.0,2859.257500
263,100.0,2864.685400,263,3874,3874,NaN,NaN,b'[5 4 3 2 1 0]',1584,2864.685400,2885.885400,100.0,2880.595400
264,100.0,2885.881867,264,3878,3878,NaN,NaN,b'[1 2 3 4 5 6]',1590,2885.881867,2896.581867,NaN,NaN

In [4]:
## adding lick on times and lick off times based on the index values
counter_matlab_idx = 1
lick_On_times = hf["intervals"]["trials"]["lickOn_times"][:]
df ["lick_On_times"] = lick_On_times[df["lickOn_times_index"]-counter_matlab_idx]

lick_Off_times = hf["intervals"]["trials"]["lickOff_times"][:]
df ["lick_Off_times"] = lick_Off_times[df["lickOff_times_index"]-counter_matlab_idx]

df

,cue,cue_times,id,lickOff_times_index,lickOn_times_index,opto,opto_times,posIndex,posIndex_times_index,start_time,stop_time,water,water_times,lick_On_times,lick_Off_times
0,100.0,50.415600,0,20,20,NaN,NaN,b'[1 2 3 4 5 6]',6,50.415600,63.755600,100.0,52.247600,60.210600,60.234600
1,100.0,63.750900,1,39,39,NaN,NaN,b'[5 4 3 2 1 0]',12,63.750900,75.400900,100.0,65.538900,71.112900,71.145900
2,100.0,75.399167,2,60,60,NaN,NaN,b'[1 2 3 4 5 6]',18,75.399167,89.844167,100.0,77.269167,86.606167,86.644167
3,100.0,89.837500,3,76,76,NaN,NaN,b'[5 4 3 2 1 0]',24,89.837500,98.537500,100.0,91.592500,92.377500,92.414500
4,100.0,98.534700,4,92,92,NaN,NaN,b'[1 2 3 4 5 6]',30,98.534700,108.094700,100.0,100.425700,105.015700,105.046700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,100.0,2810.883167,260,3832,3832,NaN,NaN,b'[1 2 3 4 5 6]',1566,2810.883167,2818.188167,100.0,2812.448167,2813.035167,2813.055167
261,100.0,2818.184333,261,3845,3845,NaN,NaN,b'[5 4 3 2 1 0]',1572,2818.184333,2825.499333,100.0,2820.379333,2820.917333,2820.959333
262,100.0,2825.494500,262,3859,3859,NaN,NaN,b'[1 2 3 4 5 6]',1578,2825.494500,2864.694500,100.0,2859.257500,2859.946500,2859.968500
263,100.0,2864.685400,263,3874,3874,NaN,NaN,b'[5 4 3 2 1 0]',1584,2864.685400,2885.885400,100.0,2880.595400,2881.432400,2881.474400
264,100.0,2885.881867,264,3878,3878,NaN,NaN,b'[1 2 3 4 5 6]',1590,2885.881867,2896.581867,NaN,NaN,2890.806867,2890.844867

In [5]:
## adding position times based on the index
df["posIndex_times"] = [[] for _ in range(len(df))]


pos_time_indices = list(df["posIndex_times_index"])
pos_time_indices.insert(0, 0)
pos_time_index_pairs = list(zip(pos_time_indices, pos_time_indices[1:]))

for i, (start, end) in enumerate(pos_time_index_pairs):
    pos_index_times_array = np.array(hf["intervals"]["trials"]["posIndex_times"][start:end])
    df.at[i, "posIndex_times"] = pos_index_times_array.tolist()

df

,cue,cue_times,id,lickOff_times_index,lickOn_times_index,opto,opto_times,posIndex,posIndex_times_index,start_time,stop_time,water,water_times,lick_On_times,lick_Off_times,posIndex_times
0,100.0,50.415600,0,20,20,NaN,NaN,b'[1 2 3 4 5 6]',6,50.415600,63.755600,100.0,52.247600,60.210600,60.234600,"[50.8136000000156, 50.95460000001886, 51.08159..."
1,100.0,63.750900,1,39,39,NaN,NaN,b'[5 4 3 2 1 0]',12,63.750900,75.400900,100.0,65.538900,71.112900,71.145900,"[64.02589999999418, 64.16589999997905, 64.3239..."
2,100.0,75.399167,2,60,60,NaN,NaN,b'[1 2 3 4 5 6]',18,75.399167,89.844167,100.0,77.269167,86.606167,86.644167,"[75.98516666667692, 76.10816666666923, 76.2331..."
3,100.0,89.837500,3,76,76,NaN,NaN,b'[5 4 3 2 1 0]',24,89.837500,98.537500,100.0,91.592500,92.377500,92.414500,"[90.05850000001956, 90.21050000002143, 90.3725..."
4,100.0,98.534700,4,92,92,NaN,NaN,b'[1 2 3 4 5 6]',30,98.534700,108.094700,100.0,100.425700,105.015700,105.046700,"[99.10869999999325, 99.2627000000028, 99.39769..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,100.0,2810.883167,260,3832,3832,NaN,NaN,b'[1 2 3 4 5 6]',1566,2810.883167,2818.188167,100.0,2812.448167,2813.035167,2813.055167,"[2811.1031666666677, 2811.250166666665, 2811.3..."
261,100.0,2818.184333,261,3845,3845,NaN,NaN,b'[5 4 3 2 1 0]',1572,2818.184333,2825.499333,100.0,2820.379333,2820.917333,2820.959333,"[2818.3873333333418, 2818.5273333333266, 2818...."
262,100.0,2825.494500,262,3859,3859,NaN,NaN,b'[1 2 3 4 5 6]',1578,2825.494500,2864.694500,100.0,2859.257500,2859.946500,2859.968500,"[2857.3534999999965, 2857.488500000006, 2857.6..."
263,100.0,2864.685400,263,3874,3874,NaN,NaN,b'[5 4 3 2 1 0]',1584,2864.685400,2885.885400,100.0,2880.595400,2881.432400,2881.474400,"[2864.8973999999994, 2878.963399999991, 2879.1..."
264,100.0,2885.881867,264,3878,3878,NaN,NaN,b'[1 2 3 4 5 6]',1590,2885.881867,2896.581867,NaN,NaN,2890.806867,2890.844867,"[2890.2418666666526, 2890.3168666666643, 2890...."

#### __Question 3:__ Now I looked at the behavioural time series. I understood what BehavioralTimeSeries_is_tongue_out and all the keys with prefix BehavioralTimeSeries_tongue_bottom_lm_* mean. These are for first case a binary value at what time steps tongue is out or the x and y values of the positon of tongue for all trials. I am confused about the rest. Can you help me understand?

In [52]:
hf["processing"]["behavior"].keys()

<KeysViewHDF5 ['BehavioralTimeSeries_is_tongue_out', 'BehavioralTimeSeries_lickportH', 'BehavioralTimeSeries_lickportV', 'BehavioralTimeSeries_prob_tongue_out', 'BehavioralTimeSeries_tongue_bottom_lm_baseX', 'BehavioralTimeSeries_tongue_bottom_lm_baseY', 'BehavioralTimeSeries_tongue_bottom_lm_tipX', 'BehavioralTimeSeries_tongue_bottom_lm_tipY', 'BehavioralTimeSeries_tubeH', 'BehavioralTimeSeries_tubeV']>

In [55]:
keys_behavioural = list(hf["processing"]["behavior"]["BehavioralTimeSeries_is_tongue_out"].keys()) ## has length of total trials
hf["processing"]["behavior"]["BehavioralTimeSeries_is_tongue_out"][keys_behavioural[0]]["data"][:] ## gives binary value if the tongue is out or not for the time steps in a particular trial

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

#### __Question 4:__ Looking at the spike times and units data I understood what they represent and how to obtain the spiking times. Although I am not sure what is the meaning of obs_intervals?

In [57]:
hf["units"]

In [62]:
hf["units"]["spike_times"]

In [66]:
indices_end  = hf["units"]["spike_times_index"][:]
indices_start = np.insert(indices, 0, 0)
spike_times  = {}
neuron_num = 0
for start,end in zip(indices_start, indices_end):
    spike_times [neuron_num] = hf["units"]["spike_times"] [start:end]
    neuron_num+=1